 p,a,div,span {
    color:red;
 }



.goit2{
    color: purple;
}
.goit2:hover{
    background-color:yellow ;
    color:black ;
}
.goit1{
    font-size:20px;
}
.test h1 {
  background-color:orangered;
  color: brown;
}

.test h1:hover{
    background-color:blue;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}


div #arac li{
  font-size:25px;
}


.sosial-links .link {
    color: teal;
 }

 .sosial-links .link:hover {
    color:orchid;
 }

 .sosial-links .link:active {
    color:royalblue;
 }
.sosial-links  .link:focus {
    color: orange;
}

section >p {
    color: blue !important;

}

.pelement{
    color: blueviolet;
}
#pidsi {
    color:green;
}
.kutucuk {
    background-color:lawngreen;
    width:50%;
    height:150px;
    border: 3px solid red; 
    font-family:"Ariel,Helvetika,sans-serif";
    font-size:13px; 
    text-align:left;
    text-indent:20px;

}
.kutucuk p {
    font-weight:900;
    font-style: italic;
}
.goit-css {
  /* text-decoration: underline; */
   text-transform:uppercase;
   background-color:yellowgreen;
   line-height:25px;
   font-size:25px;
   letter-spacing:10px;
   
}
.shadow {
    font-size:20px;
    text-shadow:-2px -2px 7px red;
    /*eksi degeri başlamgıç degeri sonla sağ ve alt değerini sol ve üst değerine çevirir*/
    color: black !important;
    
}
.shadow span {
    color: blue;
    font-weight:900;
    font-size:16px;
}
.sosial-links {
    list-style-type:none;
}